{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Code . Challenges</h1>
        <p class="lead">This is a display of all the python based challenges I have completed.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">

        <div col-sm-12 col-md-4>
            <!-- first card -->
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div col-sm-12 col-md-4>
            <!-- second card -->
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div col-sm-12 col-md-4>
            <!-- second card -->
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div col-sm-12 col-md-4>
            <!-- second card -->
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}